@import 'styles/variables';

.summary_container {
  display: flex;
  padding: 15px 20px;
  align-items: center;
  justify-content: space-between;
}

.summary_items {
  width: 120px;
}

@media screen and (max-width: 375px) {
  .tabs_container_desktop {
    display: none;
  }
}
