@import './variables';

:export {
  //Primary
  bright_blue: $bright_blue;
  check_background: $check_background;
  white: $white;
  
  //Light theme
  very_light_gray: $very_light_gray;
  very_light_graylish_blue: $very_light_graylish_blue;
  light_graylish_blue: $light_graylish_blue;
  dark_graylish_blue: $dark_graylish_blue;
  very_dark_graylish_blue: $very_dark_graylish_blue;
  
  //Dark theme
  very_dark_blue: $very_dark_blue;
  very_dark_desaturated_blue: $very_dark_desaturated_blue;
  light_graylish_blue: $light_graylish_blue;
  light_graylish_blue_hover: $light_graylish_blue_hover;
  dark_graylish_blue: $dark_graylish_blue;
  very_dark_graylish_blue: $very_dark_graylish_blue
}