//Primary
$bright_blue: hsl(220, 98%, 61%);
$check_background: linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$white: #fff;

//Light theme
$very_light_gray: hsl(0, 0%, 98%);
$very_light_graylish_blue: hsl(236, 33%, 92%);
$light_graylish_blue: hsl(233, 11%, 84%);
$dark_graylish_blue: hsl(236, 9%, 61%);
$very_dark_graylish_blue: hsl(235, 19%, 35%);

//Dark theme
$very_dark_blue: hsl(235, 21%, 11%);
$very_dark_desaturated_blue: hsl(235, 24%, 19%);
$light_graylish_blue: hsl(234, 39%, 85%);
$light_graylish_blue_hover: hsl(236, 33%, 92%);
$dark_graylish_blue: hsl(234, 11%, 52%);
$very_dark_graylish_blue: hsl(233, 14%, 35%);
